<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>

<div style="background-color:gray" class="container">
    <h2><a>Expert Schedule</a></h2>            
  <table class="table">
    <thead>
      <tr>
            <th><h1>Name</h1></th>
            <th><h1>Email</h1></th>
            <th><h1>Hire Date</h1></th>
            <th><h1>Mobile Number</h1></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests; let i=index">
       <!-- <td>{{ request.user_email }}</td>-->
        <td>{{ request.name }}</td>
       <!-- <td>{{ request.slots }}</td>-->
      
        <td>{{ request.email }}</td>
        <td>{{ request.hireDate }}</td>
        <td>{{ request.mobileNumber }}</td>
        </tr>
  </tbody>
  </table>

  <div>
    <input type="text" [(ngModel)]="deletedEmail" placeholder="You want to delet?"/>
    <input type="text"  [(ngModel)]="expert" placeholder="ExpertEmail"/>
    <button (click)="deleteEmployee($event)">Send</button>
</div>

</div>



</body>
</html>